<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="VoiceClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
    </startup>
    <userSettings>
        <VoiceClient.Properties.Settings>
            <setting name="Audio_Threshhold" serializeAs="String">
                <value>0.0005</value>
            </setting>
            <setting name="Audio_PTTKey" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Enable_PTT" serializeAs="String">
                <value>True</value>
            </setting>
        </VoiceClient.Properties.Settings>
    </userSettings>
</configuration>